<div >


<div class="top">
    <div class="Rectangle-2189-Copy">
        <img src="C:\Users\AKDESK01\Desktop\rokk3rlabsTest\src\assets\img\r-3-l-logo-application-02.png"
             srcset="assets/img/r-3-l-logo-application-02@2x.png 2x,
             assets/img/r-3-l-logo-application-02@3x.png 3x"
             class="R3L_Logo_Application_02">
    </div>
</div>
<div class="left_menu">
    <p class="Navigate">NAVIGATE</p>
    <div class="Line"></div>

    <div class="Rectangle-vacio">
        <img src="assets/img/analitycs.png"
             srcset="assets/img/analitycs@2x.png 2x,
             assets/img/analitycs@3x.png 3x"
             class="analitycs">
        <p class="Analytics">Analytics</p>
    </div>
    <div class="Rectangle-vacio">
        <img src="assets/img/newspaper-o.png"
             srcset="assets/img/newspaper-o@2x.png 2x,
             assets/img/newspaper-o@3x.png 3x"
             class="newspaper-o">
        <p class="News">News</p>
    </div>
    <div class="Rectangle-vacio">
        <img src="assets/img/board-brief.png"
             srcset="assets/img/board-brief@2x.png 2x,
             assets/img/board-brief@3x.png 3x"
             class="board-brief">
        <p class="Board-Brief">Board Brief</p>
    </div>
    <div class="Rectangle-vacio">
        <img src="assets/img/briefcase.png"
             srcset="assets/img/briefcase@2x.png 2x,
             assets/img/briefcase@3x.png 3x"
             class="briefcase">
        <p class="Briefcase">Briefcase</p>
    </div>
    <div class="Rectangle-vacio">
        <img src="assets/img/briefcase.png"
             srcset="assets/img/briefcase@2x.png 2x,
             assets/img/briefcase@3x.png 3x"
             class="briefcase">
        <p class="Briefcase">Close Menu</p>
    </div>
</div>
</div>