.top {
    width: 101%;
    height: 61px;
    background-color: #2f323a;
    margin-top: -8px;
    margin-left: -8px;
}
.Rectangle-2189-Copy {
    width: 264px;
    height: 60px;
    background-color: #1e2025;
    text-align: center;
}
.R3L_Logo_Application_02 {
    width: 169px;
    height: 20px;
    object-fit: contain;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    margin-top: 6%;
}
.left_menu {
    width: 264px;
    height: 740px;
    background-color: #2f323a;
    margin-left: -8px;
}
.Navigate {
    width: 75px;
    height: 19px;
    font-family: ProximaNova;
    font-size: 18px;
    text-align: left;
    color: #575a5f;
    display: inline-block;
    margin-left: 8%;
}
.Line {
    width: 215px;
    height: 2px;
    border-top: 2px solid #373b42;
    margin-left: 8%;
}
.Rectangle-vacio {
    width: 264px;
    height: 49px;
    display: -moz-inline-box;
    margin-left: 8%;
}
.Analytics {
    height: 19px;
    font-family: ProximaNova;
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
    margin-left: 8px;
}
.News {
    height: 19px;
    font-family: ProximaNova;
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
    margin-left: 8px;
}
.Board-Brief {
    height: 19px;
    font-family: ProximaNova;
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
    margin-left: 8px;
}
.Briefcase {
    height: 19px;
    font-family: ProximaNova;
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
    margin-left: 8px;
}
.Close-menu {
    width: 85px;
    height: 19px;
    font-family: ProximaNova;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
}
.Admin-Name {
    width: 82px;
    height: 19px;
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.36;
    color: #ffffff;
}
.Shape {
    width: 16px;
    height: 16px;
    object-fit: contain;
    background-color: #ffffff;
}
.analitycs {
    width: 18px;
    height: 11px;
    object-fit: contain;
}
.newspaper-o {
    width: 16px;
    height: 11px;
    object-fit: contain;
}
.board-brief {
    width: 12px;
    height: 15px;
    object-fit: contain;
}
.briefcase {
    width: 18px;
    height: 14px;
    object-fit: contain;
}
.angle-double-left {
    width: 9px;
    height: 9px;
    object-fit: contain;
}
.Rectangle-766 {
    width: 1280px;
    height: 800px;
    background-color: #f5f5fa;
}