<div >

    <div class="barra-lateral">
        <ul>
            <li>Navigates</li>

            <li>Analytics</li>
            <li>Navigates</li>
            <li>Navigates</li>
            <li>Navigates</li>
        </ul>
    </div>

    <div>
        <fusioncharts
                width="600"
                height="400"
                type="column2d"
                datasource="{{myDataSource}}"
        ></fusioncharts>
    </div>


    <div>
        <fusioncharts
                width="600"
                height="400"
                type="pie3d"
                datasource="{{myDataSource}}"
        ></fusioncharts>
    </div>




</div>